[Unit]
Description=todo service
[Service]
User=todo
Type=simple
Environment=REDIS_API_ADDRESS=172.31.86.184:8080
ExecStart=/bin/node /home/todo/todo/server.js
SyslogIdentifier=todo
Restart=on-failure
[Install]
WantedBy=multi-user.target
