[Unit]
Description=todo service
[Service]
User=todo
Type=simple
Environment=REDIS_API_ADDRESS=172.31.21.203:8080
ExecStart=/bin/node /root/shell-scripting/TODOAPP
SyslogIdentifier=todo
Restart=on-failure
[Install]
WantedBy=multi-user.target
